/* cuteDark Library for Stylus */

@darkFlavor: dark;
@lightFlavor: latte;

#lib.palette() {
  @base: #131313;
  @mantle: #1E1D1E;
  @crust: #131313;
  @surface0: #1E1D1E;
  @surface1: #232323;
  @surface2: #272727;
  @overlay0: #3A3A3A;
  @overlay1: #404040;
  @overlay2: #4C4D4D;
  @text: #CACCCA;
  @subtext0: #9E9E9E;
  @subtext1: #8F8F8F;
  @lavender: #81A9F6;
  @blue: #81A9F6;
  @sapphire: #307BF6;
  @sky: #7faef9;
  @teal: #3DB6B0;
  @green: #76BA53;
  @green-bright: #9DE478;
  @yellow: #E1D797;
  @peach: #D2602D;
  @maroon: #A8473B;
  @red: #A8473B;
  @red-bright: #DD6F61;
  @mauve: #AE30C2;
  @pink: #D86DE9;
  @flamingo: #D86DE9;
  @rosewater: #D86DE9;
  @accent: #81A9F6;
  @text-filter: brightness(0) saturate(100%) invert(83%) sepia(12%) saturate(286%) hue-rotate(185deg) brightness(101%) contrast(101%);
}

#lib.defaults() {
  * {
    caret-color: @text;
  }
  ::selection {
    background: @surface2;
    color: @text;
  }
  ::-moz-selection {
    background: @surface2;
    color: @text;
  }
  html {
    color-scheme: dark;
  }
}

#catppuccin(@flavor) {
  #lib.palette();
  #lib.defaults();
}

#cutedark() {
  #lib.palette();
  #lib.defaults();
}
