/* ==UserStyle==
@name Test YouTube Structure
@namespace github.com/test/youtube
@version 1.0.0
@description Test
@author test
==/UserStyle== */

@import "https://cdn.jsdelivr.net/gh/cuteceo/dotfiles@main/themes/stylus/lib.cutedark.less";

@-moz-document domain("youtube.com") {
  :root[dark] {
    #catppuccin(@darkFlavor) !important;
  }

  #catppuccin(@flavor) {
    #lib.palette();
    #lib.defaults();

    @white: if(@flavor = latte, @base, @text);
    @black: if(@flavor = latte, @text, @base);

    color: @text;
    background: @base;
  }
}
